footer{
  margin-top: 96px;
  margin-bottom: 24px;
}

fa-icon{
  height: 19px;
  width: 19px;
  margin-right: 20px;
}

.copy, .follow-us, .terms{
  font-size: 14px;
  opacity: 0.4;
}

.footer-container{
  @media(max-width: 767px){
    text-align: center;
    flex-direction: column-reverse;
    height: 100px;
    justify-content: space-between;
  }
}

.follow{
  display: flex;
  .follow-us{
    margin-right: 35px;
  }
  @media(max-width: 767px){
    justify-content: center;
  }
}
