<div class="single-program">
  <div class="image-container">
    <img [attr.src]="'../../assets/Images/' + program.school + '.png'" alt="image">
  </div>
  <div class="program-info">
    <div class="left-info">
      <div class="program-name">{{program.Name}}</div>
      <div class="program-school">{{program.school}}</div>
      <div class="program-tut-and-city d-flex justify-content-between">
        <div class="tut">
          <span class="fee">Tuition Fee</span>
          <span class="price">{{program.fee}}$ Per Year</span>
        </div>
        <div class="city">{{program.city}}</div>
      </div>
    </div>
  </div>
  <button class="btn btn-success more-info">
    More info
  </button>
</div>

